html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  width: 1110px;
  margin: auto;
  padding-top: 35px;
}

/* Header */
.logo-div {
  float: left;
}

.nav-item {
  float: right;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  font-family: "Roboto", sans-serif;
}

.logo-div::first-letter {
  color: rgb(26, 188, 156);
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.list-item {
  float: left;
  padding: 5px;
  font-weight: bolder;
  margin-left: 25px;
}

.list-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #1f1212;
}

.home {
  color: rgb(26, 188, 156);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Title */
.title1 {
  font-size: 40px;
  color: rgb(81, 81, 81);
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 100px;
}

.title1::after {
  content: "";
  background-color: rgb(26, 188, 156);
  width: 160px;
  height: 7px;
  display: block;
  margin: 30px auto;
  margin-bottom: 90px;
}

/* Wrapper */
.card-image-wrp {
  width: 255px;
  height: 282px;
  margin: auto;
  overflow: hidden;
}

.box {
  float: left;
  margin-right: 30px;
}

.box2 {
  margin: 0;
}

.name-price {
  float: left;
}

.card-name-item {
  font-size: 20px;
  float: left;
  text-transform: uppercase;
  list-style: none;
  background-color: #323232;
  width: 201px;
  height: 40px;
  padding: 9px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.card-price-item {
  font-size: 20px;
  float: right;
  text-transform: uppercase;
  list-style: none;
  background-color: #8c8c8c;
  width: 54px;
  height: 40px;
  padding: 9px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.card-link {
  text-decoration: none;
  color: white;
}

.box:hover .card-name-item {
  background-color: #1abc9c;
}

.box:hover .card-price-item {
  background-color: #7fd9c7;
}

/* Blog */
.blog-b {
  width: 350px;
}

.blog-img-wrp img {
  width: 350px;
  height: 262px;
}

.blog-link {
  text-decoration: none;
}

.blog-h4 {
  font-size: 18px;
  color: #555252;
  font-family: "Roboto", sans-serif;
}

.blog-h4::after {
  content: "";
  background-color: rgb(26, 188, 156);
  width: 136px;
  height: 3px;
  display: block;
  margin: 14px 0;
  margin-bottom: 28px;
}

.blog-p {
  color: #555252;
  font-family: "Roboto", sans-serif;
}

.blog-box {
  float: left;
  margin-right: 30px;
}

.blog-box2 {
  margin: 0;
}

.read-m {
  font-size: 18px;
  margin-top: 18px;
  padding: 0;
  width: 160px;
  height: 52px;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: rgb(26, 188, 156);
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
